<nav>
  <div class="nav-wrapper light-blue">
    <a href="#" class="brand-logo center"><img src="/img/logo.png" alt=""></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'speakers'}}Speakers{{/link-to}}</li>
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
    </ul>
  </div>
</nav>
