<div class="row">
  <div class="col s12">
    <h2>About Ng-Cruise</h2>
  </div>
</div>

<div class="row">
  <div class="col s12 margin-top-20 center-align">
    <h4>Ng-Cruise presented by Ng-Conf launches May 2017</h4>
  </div>
</div>

<div class="row">
  <div class="col s6 center-align">
    <h5>Site launches in a few weeks. <a href="http://ngcruise.com">ngcruise.com</a></h5>
  </div>
  <div class="col s6 center-align">
    <h5>For now, follow us on twitter <a href="http://twitter.com/ngcruise">@ngcruise</a></h5>
  </div>
</div>

<div class="row">
  <div class="col s12 center-align">
    <img src="/img/sail.png" alt="">
    <h4>Stay Tuned</h4>
  </div>
</div>
